<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>tier2</servlet-name>
        <servlet-class>ascsp1.MasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tier2</servlet-name>
        <url-pattern>/tier2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MonsterGame.html</welcome-file>
    </welcome-file-list>
</web-app>
